# Variables de entorno para el Frontend

# URL de la API base (por defecto localhost:5000)
REACT_APP_API_URL=http://localhost:5000/api

# URL del microservicio de Estudiantes (por defecto localhost:3001)
REACT_APP_ESTUDIANTES_API_URL=http://localhost:3001/estudiantes
